.container {
  margin: auto;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px;
  transition: 0.5s ease;
}

.item {
  background-color: hsl(20, 80%, 50%);
}